@import "./constantes";
body {
    overflow: hidden;
    .contenu {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        &-texte {
            @include titres_analyse();
        }
    }
}